<?xml version="1.0"?>

<model>
  <name>Test box</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>

  <description>
    Just a unit box, intended to be used by automated testing of Ignition Fuel.
  </description>
</model>
